[Unit]
Description=etcd-proxy service
After=network.target

[Service]
User=root
EnvironmentFile={{ pillar['rbd-path'] }}/etc/envs/petcd.sh
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/docker rm -f etcd-proxy
ExecStart={{ pillar['rbd-path'] }}/petcd/scripts/start.sh
ExecStop=-/usr/bin/docker stop etcd-proxy
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
