[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target

[Service]
Type=notify
EnvironmentFile={{ pillar['rbd-path'] }}/envs/docker.sh
ExecStart=/usr/bin/dockerd $DOCKER_OPTS
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TimeoutStartSec=0
Delegate=yes
KillMode=process
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

{% if grains['os_family']|lower == 'redhat' %}
# fix device or resource busy for centos/redhat
MountFlags=slave
{% endif %}

[Install]
WantedBy=multi-user.target