[Unit]
Description=etcd-proxy service
After=network.target

[Service]
User=root
EnvironmentFile={{ pillar['rbd-path'] }}/envs/etcd-proxy.sh
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/docker rm -f etcd-proxy
ExecStart={{ pillar['rbd-path'] }}/scripts/start-etcdproxy.sh
ExecStop=-/usr/bin/docker stop etcd-proxy
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
