[Unit]
Description=Goodrain Rainbond node
After=network.target

[Service]
Type=simple
User=root
LimitCORE=infinity
LimitNOFILE=102400
LimitNPROC=102400
EnvironmentFile=-{{ pillar['rbd-path'] }}/envs/node.sh
PermissionsStartOnly=true
ExecStart={{ pillar['rbd-path'] }}/scripts/start-node.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target