[Unit]
Description=Kubernetes Controller Manager
Requires=network.target

[Service]
User=root
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/docker rm -f kube-controller-manager
ExecStart={{ pillar['rbd-path'] }}/scripts/start-kube-controller-manager.sh
ExecStop=-/usr/bin/docker stop kube-controller-manager
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target