[Unit]
Description=Kubernetes Apiserver
After=etcd.service
Requires=network.target

[Service]
User=root
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/docker rm -f kube-apiserver
ExecStart={{ pillar['rbd-path'] }}/kubernetes/scripts/start-kube-apiserver.sh
ExecStop=-/usr/bin/docker stop kube-apiserver
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target