{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['etcd', 'python-etcd'],
        'services': ['etcd']
    },
    'RedHat': {
        'pkgs': [],
        'services': []
    },
}, merge=salt['grains.filter_by']({
    'trusty': {
        'pkgs': ['etcd'],
        'services': ['etcd']
    },
    'xenial': {
        'pkgs': ['etcd', 'python-etcd'],
        'services': ['etcd']
    },
}, grain='oscodename', merge=salt['pillar.get']('etcd:server'))) %}

{%- set monitoring = salt['grains.filter_by']({
  'default': {
    'failed_http_requests_percentage': 1,
  },
}, grain='os_family', merge=salt['pillar.get']('etcd:monitoring')) %}